@import url("https://fonts.googleapis.com/css?family=Titillium+Web:200,300,400,600,700,900");
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900");
* {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #333;
}

body .container {
  max-width: 100vw;
  max-height: 100vh;
}

body .container #navigation {
  overflow: hidden;
  position: relative;
  text-align: center;
  color: coral;
}

body .container #navigation a {
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1rem;
  display: block;
}

body .container #navigation a:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

body .container #navigation #logo {
  font-size: 1.2rem;
  font-weight: 700;
}

body .container #navigation #links {
  display: none;
}

body .container #navigation #links a {
  color: coral;
}

body .container #navigation #links a:hover {
  color: coral;
}

body .container #content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .container #content #about {
  color: coral;
  text-align: center;
}

body .container #content #about a {
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1rem;
  display: block;
}

body .container #content #about a:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

body .container #content #about #aboutme {
  font-size: 1.2rem;
  font-weight: 700;
  color: coral;
}

body .container #content #about #info {
  display: block;
}

body .container #content #about #info img {
  padding: 10px 0;
  border-radius: 50%;
  width: 75vw;
  height: 75vw;
  -o-object-fit: cover;
     object-fit: cover;
}

body .container #content #about #info p {
  padding: 12px;
  text-indent: 10%;
  text-align: left;
  line-height: 1.3em;
}

body .container #content #gallery {
  text-align: center;
}

body .container #content #gallery a {
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 700;
  color: coral;
  display: block;
}

body .container #content #gallery a:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

body .container #content #gallery #galleryArt {
  display: none;
  margin: 10px;
}

body .container #content #gallery #galleryArt img {
  width: 95vw;
  height: 95vw;
  -o-object-fit: cover;
     object-fit: cover;
}
/*# sourceMappingURL=style.css.map */